/* Max width 767px */
@media only screen and (max-width: 767px) {
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pb-100 {
    padding-bottom: 50px;
  }
  .pt-70 {
    padding-top: 20px;
  }
  .pb-70 {
    padding-bottom: 20px;
  }
  .default-btn {
    font-size: 14px;
    padding: 12px 20px;
  }
  h3 {
    font-size: 19px;
  }
  .banner-area {
    height: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .banner-area .banner-text {
    text-align: center;
    margin-top: 65px;
    margin-right: auto;
  }
  .banner-area .banner-text h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .banner-area .banner-text p {
    margin-bottom: 30px;
  }
  .banner-area .banner-main-img-wrap .banner-main-img {
    display: block;
    margin-top: 30px;
  }
  .banner-area .banner-main-img-wrap .banner-img {
    display: none;
  }
  .about-text {
    margin-top: -5px;
    text-align: center;
  }
  .about-text span {
    font-size: 14px;
  }
  .about-text h2 {
    font-size: 30px;
  }
  .about-text h4 {
    font-size: 16px;
  }
  .about-img {
    margin-top: 30px;
  }
  .about-img img {
    -webkit-animation: unset;
            animation: unset;
  }
  .single-features {
    padding: 20px;
  }
  .features-area {
    padding-bottom: 50px;
  }
  .features-area.pb-im-70 {
    padding-bottom: 20px;
  }
  .features-area .card-bg-color:nth-child(2) .single-features {
    margin-top: 0;
  }
  .features-area .card-bg-color:nth-child(3) .single-features {
    margin-top: 0;
  }
  .features-text {
    margin-left: 0 !important;
    text-align: center;
  }
  .features-text span {
    font-size: 14px;
  }
  .features-text h2 {
    font-size: 30px;
  }
  .features-text .default-btn {
    margin-bottom: -6px;
  }
  .section-title {
    margin-bottom: 30px;
  }
  .section-title span {
    font-size: 14px;
  }
  .section-title h2 {
    font-size: 30px;
  }
  .single-services {
    text-align: center;
    padding: 20px;
  }
  .single-services i {
    font-size: 50px;
  }
  .search-domain-area {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .search-domain-area::before {
    display: none;
  }
  .search-domain-area .search-domain {
    margin-right: auto;
  }
  .search-domain-area .search-domain .web-content span {
    font-size: 14px;
  }
  .search-domain-area .search-domain .web-content h2 {
    font-size: 30px;
  }
  .search-domain-area .search-domain .domain-wrap .input-domain {
    height: 50px;
  }
  .search-domain-area .search-domain .domain-wrap .default-btn {
    position: unset;
    height: 36px;
    border-radius: 4px;
    text-align: center;
    margin: 20px auto 0;
    display: table;
  }
  .search-domain-area .search-domain .domain-wrap .select-domain-name {
    display: none;
  }
  .search-domain-area .brand-list li {
    margin-bottom: 10px;
  }
  .search-domain-area .search-img {
    text-align: center;
    margin-top: 20px;
  }
  .search-domain-area .search-img img {
    -webkit-animation: unset;
            animation: unset;
  }
  .counter-area {
    padding-top: 0;
    padding-bottom: 0;
  }
  .counter-area.counter-area-two {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .counter-area .row {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .single-counter h2 {
    font-size: 30px;
    margin-top: -4px;
  }
  .single-counter p {
    font-size: 15px;
  }
  .client-area .section-title {
    margin-bottom: 30px;
  }
  .single-pricing h3 {
    font-size: 20px;
  }
  .single-blog a {
    display: block;
  }
  .single-blog a img {
    width: 100%;
  }
  .single-blog .blog-content {
    padding: 20px;
    text-align: center;
  }
  .single-blog .blog-content h3 {
    margin-bottom: 10px;
  }
  .single-blog .blog-content p {
    margin-bottom: 14px;
  }
  .subscribe-area .subscribe-wrap {
    text-align: center;
  }
  .subscribe-area .subscribe-wrap .subscribe-title h2 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: -5px;
  }
  .single-widget h3 {
    font-size: 22px;
  }
  .faq-image {
    margin-bottom: 30px;
  }
  .page-title-area {
    padding-top: 165px;
    padding-bottom: 100px;
  }
  .services-img-1 {
    height: 300px;
    margin-bottom: 30px;
  }
  .services-details-content-wrap h2 {
    font-size: 25px;
  }
  .services-img-4 {
    margin-bottom: 30px;
  }
  .services-img-2 {
    margin-bottom: 30px;
  }
  .services-share {
    position: absolute;
    top: -31px;
    right: 15px;
  }
  .single-features i {
    margin-bottom: 15px;
  }
  .single-features h3 {
    margin-bottom: 10px;
  }
  .cart-area .cart-table {
    text-align: center;
  }
  .cart-area .cart-table table thead tr th {
    padding: 10px 40px 10px;
    white-space: nowrap;
    font-size: 16px;
  }
  .cart-area .cart-table table tbody tr td {
    white-space: nowrap;
  }
  .cart-area .cart-totals {
    padding: 20px;
  }
  .cart-area .cart-totals .default-btn {
    display: block;
    text-align: center;
    margin-bottom: 0;
  }
  .cart-area .checkout-area .title {
    margin-bottom: 20px;
    font-size: 17px;
  }
  .cart-area .billing-details {
    padding: 15px;
  }
  .cart-area .billing-details .form-group {
    margin-bottom: 15px;
  }
  .cart-area .billing-details .form-group label {
    margin-bottom: 7px;
  }
  .cart-area .billing-details .form-group .form-control {
    height: 40px;
    line-height: 40px;
  }
  .cart-area .billing-details .form-group textarea {
    height: 100% !important;
  }
  .cart-area .billing-details .form-check label {
    top: 2px;
  }
  .cart-area .order-details {
    margin-top: 30px;
  }
  .cart-area .order-details .order-table {
    padding: 15px;
  }
  .cart-area .order-details .order-table table thead tr th {
    white-space: nowrap;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
  }
  .cart-area .order-details .order-table table tbody tr td {
    white-space: nowrap;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cart-area .order-details .payment-box {
    padding: 15px;
  }
  .cart-area .cart-area .default-btn {
    display: block;
    text-align: center;
  }
  .cart-area .coupon-wrap {
    padding: 20px !important;
    margin-top: 50px;
  }
  .cart-area .cart-wraps .continue-shopping-box {
    margin-bottom: 20px;
  }
  .cart-area .cart-wraps .default-btn {
    width: 100%;
  }
  .cart-area .coupon-wrap .default-btn {
    width: 100%;
    margin-bottom: 0;
  }
  .checkout-area .faq-accordion .accordion .accordion-content {
    padding: 20px;
  }
  .checkout-area .faq-accordion .default-btn {
    margin-bottom: 0;
  }
  .faq-accordion.bank-details {
    padding: 20px !important;
  }
  .checkout-area .title {
    margin-bottom: 20px;
    font-size: 17px;
  }
  .checkout-area .billing-details {
    padding: 15px;
  }
  .checkout-area .billing-details .form-group {
    margin-bottom: 15px;
  }
  .checkout-area .billing-details .form-group label {
    margin-bottom: 7px;
    font-size: 13px;
  }
  .checkout-area .billing-details .form-group .form-control {
    height: 40px;
    line-height: 40px;
  }
  .checkout-area .billing-details .form-group textarea {
    height: 100% !important;
  }
  .checkout-area .billing-details .form-check label {
    top: 2px;
  }
  .checkout-area .order-details {
    margin-top: 30px;
  }
  .checkout-area .order-details .order-table {
    padding: 15px;
  }
  .checkout-area .order-details .order-table table thead tr th {
    white-space: nowrap;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
  }
  .checkout-area .order-details .order-table table tbody tr td {
    white-space: nowrap;
    padding-left: 15px;
    padding-right: 15px;
  }
  .checkout-area .order-details .payment-box {
    padding: 15px;
  }
  .shop-details-area .product-details-desc {
    margin-top: 25px;
  }
  .shop-details-area .product-details-desc .price {
    margin-bottom: 13px;
  }
  .shop-details-area .product-details-desc .product-review {
    margin-bottom: 13px;
  }
  .shop-details-area .product-details-desc .product-review .rating {
    font-size: 13px;
  }
  .shop-details-area .products-details-tab {
    margin-top: 30px;
  }
  .shop-details-area .products-details-tab .tabs {
    margin-bottom: -11px;
  }
  .shop-details-area .products-details-tab .tabs li {
    margin-bottom: 10px;
  }
  .shop-details-area .products-details-tab .tabs li a {
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #eaedff;
  }
  .shop-details-area .products-details-tab .tabs li a .dot {
    left: 20px;
  }
  .shop-details-area .products-details-tab .tab_content {
    padding: 25px 20px;
  }
  .shop-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content .additional-information li span {
    display: block;
    width: 100%;
    margin-bottom: 2px;
  }
  .shop-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content h3 {
    font-size: 16px;
  }
  .shop-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-title .rating i {
    font-size: 13px;
  }
  .shop-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-title .btn {
    position: relative;
    right: 0;
    top: 0;
    -webkit-transform: unset;
            transform: unset;
    margin-top: 15px;
    display: block;
  }
  .shop-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item {
    padding-right: 0;
  }
  .shop-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item .rating i {
    font-size: 13px;
  }
  .shop-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item h3 {
    font-size: 15px;
  }
  .shop-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item span {
    font-size: 12px;
  }
  .shop-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-comments .review-item .review-report-link {
    position: relative;
    top: 0;
    margin-top: 15px;
  }
  .shop-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-form form .review-rating {
    display: none;
  }
  .shop-details-area .products-details-tab .tab_content .tabs_item .products-details-tab-content .product-review-form .review-form form .form-group label {
    font-size: 13px;
  }
  .shop-details-area .products-details-tab .custom-payment-options .payment-methods a img {
    width: 39px;
  }
  .user-area-style .contact-form-action {
    padding: 20px;
  }
  .user-area-style .contact-form-action .form-condition {
    margin-bottom: 0 !important;
  }
  .user-area-style .contact-form-action .forget {
    float: unset;
    margin-bottom: 20px;
  }
  .user-area-style .contact-form-action .default-btn {
    margin-bottom: 0;
  }
  .account-desc {
    margin-bottom: 30px !important;
  }
  .error-area .error-content-wrap {
    max-width: 540px;
    margin: auto;
  }
  .error-area .error-content-wrap h3 {
    font-size: 25px;
  }
  .error-area .error-content-wrap p {
    font-size: 15px;
  }
  .widget-area.blog-left-sidebar {
    margin-bottom: 35px;
  }
  .widget-area.blog-right-sidebar {
    margin-top: 35px;
  }
  .main-contact-area .contact-wrap .contact-form {
    padding: 30px;
    margin-bottom: 50px;
  }
  .page-title-area .page-title-content h2 {
    font-size: 35px;
  }
  .page-title-area .page-title-content ul li {
    font-weight: 600;
  }
  .page-navigation-area {
    margin-top: 0;
  }
  .faq-image.mt-use {
    margin-top: 30px;
  }
  .error-area .error-content-wrap h1 {
    font-size: 150px;
  }
  .blog-details-area blockquote {
    padding: 20px !important;
  }
  .blog-details-area blockquote p {
    font-size: 16px !important;
  }
  .blog-details-area .blog-details-desc .article-content h3 {
    font-size: 25px;
  }
  .blog-details-area .blog-details-desc .article-image .date-in {
    padding: 10px 20px;
    font-size: 15px;
  }
  .blog-details-area .comments-area .comment-body {
    padding-left: 0;
  }
  .blog-details-area .comments-area .comment-author .avatar {
    position: unset;
    margin-bottom: 20px;
  }
  .cart-area .cart-buttons {
    margin-top: 10px;
  }
  .main-contact-area .contact-wrap .contact-form {
    padding: 20px;
  }
  .main-contact-area .contact-wrap #msgSubmit {
    font-size: 16px;
  }
}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .banner-area .container-fluid {
    max-width: 540px;
  }
  .single-pricing h3 {
    font-size: 20px;
  }
  .single-pricing ul li {
    font-size: 14px;
  }
  .single-pricing ul li.bg-mart {
    padding: 10px 20px;
  }
  .user-area-style .contact-form-action .forget {
    float: right;
  }
  .counter-area.active .container {
    max-width: 540px;
  }
  .services-share {
    position: unset;
  }
  .cart-area .cart-wraps .continue-shopping-box {
    margin-bottom: 0;
  }
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ptb-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .pb-100 {
    padding-bottom: 50px;
  }
  .pt-70 {
    padding-top: 20px;
  }
  .pb-70 {
    padding-bottom: 20px;
  }
  .default-btn {
    font-size: 14px;
    padding: 12px 20px;
  }
  h3 {
    font-size: 20px;
  }
  .banner-area {
    height: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .banner-area .container-fluid {
    max-width: 720px;
  }
  .banner-area .banner-text {
    text-align: center;
    margin-top: 65px;
    margin-right: auto;
  }
  .banner-area .banner-text h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  .banner-area .banner-text p {
    margin-bottom: 30px;
  }
  .banner-area .banner-main-img-wrap .banner-main-img {
    display: block;
    margin-top: 30px;
  }
  .banner-area .banner-main-img-wrap .banner-img {
    display: none;
  }
  .about-text {
    margin-top: -5px;
    text-align: center;
  }
  .about-text span {
    font-size: 14px;
  }
  .about-text h2 {
    font-size: 30px;
  }
  .about-text h4 {
    font-size: 16px;
  }
  .about-img {
    margin-top: 30px;
    text-align: center;
  }
  .about-img img {
    -webkit-animation: unset;
            animation: unset;
  }
  .single-features {
    padding: 30px;
  }
  .features-area {
    padding-bottom: 50px;
  }
  .features-area.pb-im-70 {
    padding-bottom: 20px;
  }
  .features-area .card-bg-color:nth-child(2) .single-features {
    margin-top: 0;
  }
  .features-area .card-bg-color:nth-child(3) .single-features {
    margin-top: 0;
  }
  .features-text {
    margin-left: 0 !important;
    text-align: center;
  }
  .features-text span {
    font-size: 14px;
  }
  .features-text h2 {
    font-size: 30px;
  }
  .features-text .default-btn {
    margin-bottom: -6px;
  }
  .section-title {
    margin-bottom: 40px;
  }
  .section-title span {
    font-size: 14px;
  }
  .section-title h2 {
    font-size: 30px;
  }
  .single-services {
    text-align: center;
    padding: 20px;
  }
  .single-services i {
    font-size: 50px;
  }
  .search-domain-area {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .search-domain-area::before {
    display: none;
  }
  .search-domain-area .search-domain {
    margin-right: auto;
  }
  .search-domain-area .search-domain .web-content span {
    font-size: 14px;
  }
  .search-domain-area .search-domain .web-content h2 {
    font-size: 30px;
  }
  .search-domain-area .search-domain .domain-wrap .input-domain {
    height: 50px;
  }
  .search-domain-area .search-domain .domain-wrap .default-btn {
    position: unset;
    height: 36px;
    border-radius: 4px;
    text-align: center;
    margin: 20px auto 0;
    display: table;
  }
  .search-domain-area .search-domain .domain-wrap .select-domain-name {
    display: none;
  }
  .search-domain-area .brand-list li {
    margin-bottom: 10px;
  }
  .search-domain-area .search-img {
    text-align: center;
    margin-top: 20px;
  }
  .search-domain-area .search-img img {
    -webkit-animation: unset;
            animation: unset;
  }
  .counter-area {
    padding-top: 0;
    padding-bottom: 0;
  }
  .counter-area.counter-area-two {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .counter-area .row {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .single-counter h2 {
    font-size: 30px;
    margin-top: -4px;
  }
  .single-counter p {
    font-size: 15px;
  }
  .client-area .section-title {
    margin-bottom: 30px;
  }
  .single-pricing h3 {
    font-size: 20px;
  }
  .single-blog a {
    display: block;
  }
  .single-blog a img {
    width: 100%;
  }
  .single-blog .blog-content {
    padding: 30px;
    text-align: center;
  }
  .subscribe-area .subscribe-wrap {
    text-align: center;
  }
  .subscribe-area .subscribe-wrap .subscribe-title h2 {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: -5px;
  }
  .single-widget h3 {
    font-size: 22px;
  }
  .faq-image {
    margin-bottom: 30px;
  }
  .page-title-area {
    padding-top: 165px;
    padding-bottom: 100px;
  }
  .services-img-1 {
    height: 300px;
    margin-bottom: 30px;
  }
  .services-details-content-wrap h2 {
    font-size: 25px;
  }
  .cart-area .cart-table {
    text-align: center;
  }
  .cart-area .cart-table table thead tr th {
    padding: 10px 40px 10px;
    white-space: nowrap;
    font-size: 16px;
  }
  .cart-area .cart-table table tbody tr td {
    white-space: nowrap;
  }
  .cart-area .cart-totals {
    padding: 20px;
  }
  .cart-area .cart-totals .default-btn {
    display: block;
    text-align: center;
    margin-bottom: 0;
  }
  .cart-area .checkout-area .title {
    margin-bottom: 20px;
    font-size: 17px;
  }
  .cart-area .billing-details {
    padding: 15px;
  }
  .cart-area .billing-details .form-group {
    margin-bottom: 15px;
  }
  .cart-area .billing-details .form-group label {
    margin-bottom: 7px;
  }
  .cart-area .billing-details .form-group .form-control {
    height: 40px;
    line-height: 40px;
  }
  .cart-area .billing-details .form-group textarea {
    height: 100% !important;
  }
  .cart-area .billing-details .form-check label {
    top: 2px;
  }
  .cart-area .order-details {
    margin-top: 30px;
  }
  .cart-area .order-details .order-table {
    padding: 15px;
  }
  .cart-area .order-details .order-table table thead tr th {
    white-space: nowrap;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
  }
  .cart-area .order-details .order-table table tbody tr td {
    white-space: nowrap;
    padding-left: 15px;
    padding-right: 15px;
  }
  .cart-area .order-details .payment-box {
    padding: 15px;
  }
  .cart-area .cart-area .default-btn {
    display: block;
    text-align: center;
  }
  .cart-area .coupon-wrap {
    padding: 20px !important;
    margin-top: 50px;
  }
  .cart-area .cart-wraps .default-btn {
    width: 100%;
  }
  .cart-area .coupon-wrap .default-btn {
    width: 100%;
    margin-bottom: 0;
  }
  .checkout-area .order-table.table-responsive {
    margin-top: 30px;
  }
  .faq-image.mt-use {
    margin-top: 30px;
  }
  .user-area-style .contact-form-action .default-btn {
    margin-bottom: 0;
  }
  .error-area .error-content-wrap h1 {
    font-size: 150px;
  }
  .testimonials-page {
    padding-top: 50px !important;
    padding-bottom: 20px;
  }
  .testimonials-page .row {
    margin-bottom: 30px !important;
  }
  .testimonials-page .row .testimonials-content {
    padding-bottom: 20px !important;
  }
  .account-desc {
    margin-bottom: 30px !important;
  }
  .error-area .error-content-wrap {
    max-width: 540px;
    margin: auto;
  }
  .error-area .error-content-wrap h3 {
    font-size: 25px;
  }
  .error-area .error-content-wrap p {
    font-size: 15px;
  }
  .widget-area.blog-left-sidebar {
    margin-bottom: 35px;
  }
  .widget-area.blog-right-sidebar {
    margin-top: 35px;
  }
  .contact-info-area .single-contact-info {
    padding: 40px;
  }
  .main-contact-area .contact-wrap .contact-form {
    padding: 30px;
    margin-bottom: 50px;
  }
  .page-navigation-area {
    margin-top: 0;
  }
  .shop-details-area .product-details-image {
    margin-bottom: 30px;
  }
  .cart-area .cart-buttons {
    margin-top: 10px;
  }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .banner-area .container-fluid {
    max-width: 960px;
  }
  .banner-area .banner-main-img-wrap .banner-img {
    top: 90px;
  }
  .banner-area .banner-main-img-wrap .banner-img img:nth-child(6) {
    top: 70px;
    left: 110px;
  }
  .banner-area .banner-text h1 {
    font-size: 60px;
  }
  .single-features {
    padding: 20px;
  }
  .single-features h3 {
    font-size: 19px;
  }
  .single-blog .blog-content {
    padding: 20px;
  }
  .single-blog .blog-content h3 {
    font-size: 20px;
  }
  .contact-info-area .single-contact-info {
    padding: 15px;
  }
}

/* Max width 1700px */
@media only screen and (min-width: 1700px) {
  .banner-area {
    height: 100vh;
  }
  .banner-area .banner-main-img-wrap .banner-img img:nth-child(3) {
    top: 110px;
    left: 65px;
  }
  .banner-area .banner-main-img-wrap .banner-img img:nth-child(5) {
    top: 40px;
    left: 0;
  }
  .banner-area .banner-main-img-wrap .banner-img img:nth-child(6) {
    top: 80px;
    left: 330px;
  }
  .banner-area .banner-main-img-wrap .banner-img img:nth-child(7) {
    top: 75px;
    right: 300px;
  }
  .banner-area.banner-area-two .banner-main-img-wrap .banner-img img:nth-child(1) {
    top: 0;
  }
  .banner-area.banner-area-two .banner-main-img-wrap .banner-img img:nth-child(3) {
    top: -45px;
    left: 160px;
  }
  .banner-area.banner-area-two .banner-main-img-wrap .banner-img img:nth-child(5) {
    top: 200px;
    left: 0;
  }
  .banner-area.banner-area-two .banner-main-img-wrap .banner-img img:nth-child(6) {
    top: 253px;
    left: -38px;
  }
  .banner-area.banner-area-two .banner-main-img-wrap .banner-img img:nth-child(7) {
    top: 275px;
    right: 0;
  }
}

/* 
Only Mobil Menu Max width 991px */
@media only screen and (max-width: 991px) {
  .mean-container .mean-bar {
    background-color: #271273;
    height: 70px;
  }
  .mean-container a.meanmenu-reveal {
    padding: 24px 15px 0 0;
    color: #ffffff;
  }
  .mean-container a.meanmenu-reveal span {
    background-color: #ffffff;
    position: relative;
    top: 8px;
    margin-top: -5px;
    border-radius: 0;
  }
  .mobile-nav .logo {
    max-width: 140px;
    top: 8px;
  }
  .mobile-nav.mean-container .mean-nav {
    margin-top: 70px;
  }
  .mobile-nav.mean-container .mean-nav ul {
    background-color: #122738;
  }
  .mobile-nav.mean-container .mean-nav ul li a {
    color: #ffffff;
    border-top: 1px solid #17222b;
  }
  .mobile-nav.mean-container .mean-nav ul li a:hover {
    color: #1f54f3;
  }
  .mobile-nav.mean-container .mean-nav ul li a.active {
    color: #1f54f3;
  }
  .nav-area .others-option {
    display: none;
  }
  .fixed-top {
    position: unset;
  }
  .mobile-nav nav .navbar-nav {
    height: 325px;
    background-color: #122738;
  }
  .mean-container .mean-nav ul li a.mean-expand {
    margin-top: 0;
  }
  .mean-container .mean-nav ul li a.mean-expand::before {
    content: "";
    position: absolute;
    top: 2px;
    right: 0;
    width: 40px;
    height: 47px;
    background-color: #17222b;
    z-index: -1;
  }
}
/*# sourceMappingURL=responsive.css.map */